.taskpanel {
    width: 100vw;
    height: 40px;
    background-color: rgb(183, 140, 59);
    position: absolute;
    bottom: 0px;
    opacity: 0.6;
    border-top: 1px rgb(155, 126, 40) solid;
}

.startButtonOnDesktop {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 51px;
    height: 40px;
}

.startButtonOnDesktop:hover {
    background-color: rgb(17, 17, 17);
}

.startButtonOnDesktop i {
    color: white;
}

.startButtonOnDesktop:hover i {
    opacity: 1;
    color: rgb(70, 23, 181);
}

#hellopreloader > p {
    display:none;
}

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background-color: rgb(24, 0, 82);
}

.startopenani {
    background-color: rgb(24, 0, 82);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

.startopenaniactive {
    visibility: visible;
    z-index: 99999;
}

.tray {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 40px;
    color: white;
}

.tray_datetime {
    width: 90px;
    height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 12px;
    display: inline;
}

.tray_time {
    padding-top: 3px;
}

.tray_DaMoYe {
    margin-bottom: 2px;
}

.tray_langChooser {
    display: inline;
    height: 40px;
    width: 30px;
    position: absolute;
    right: 90px;
    text-align: right;
    font-size: 12px;
    padding-top: 11px;
}

.tray_icon {
    width: 24px;
    height: 40px;
    display: inline;
    position: absolute;
}

.tray_icon a img {
    margin-top: 14px;
}

.soundwindow {
    width: 82px;
    height: 290px;
    background-color: white;
    position: absolute;
    bottom: 49px;
    right: 93px;
    border: 7px solid rgb(240, 200, 105);
    outline: rgb(183, 153, 80) 1px solid;
}