* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calculator {
    position: absolute;
    top: 70px;
    width: 340px;
    height: 480px;
  }
  
  output {
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 92px;
    background: rgb(46, 46, 46);
    margin: 10px auto;
    font-size: 36px;
    text-align: right;
    font-family: 'segoeuil';
    color: white;
    border-style: solid;
    border-bottom: 6px;
    border-left: 6px;
    border-right: 6px;
    border-color: rgb(17, 125, 24);
    padding-top: 18px;
    padding-right: 16px;
  }
  
  .keyboard {
    height: 440px;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  button {
    width: 80px;
    height: 96px;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 36px;
    font-family: 'segoeuil';
    background-color: rgb(63, 63, 63);
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
  }